<%= form_with(model: tweet) do |form| %>
  <% if tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
        <% tweet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" data-controller='input'>
    <%= form.label 'Write your tweet here' %>
    <%= form.text_area :body, data: { action: 'change->input#greet' } %>
  </div>

  <div class="actions">
    <%= form.submit class: 'disabled-actions' %>
  </div>
<% end %>
