<div data-controller="colors", data-colors-target="heading">

  <p id="notice"><%= notice %></p>

  <div class="title">
    <div> </div>
    <h1>Best Tweeter PoC of the world</h1>
    <div class="btn btn-primary", data-action="click->colors#change", data-colors-target="button">Switch to dark!</div>
  </div>

  <%= turbo_frame_tag 'new_tweet', src: new_tweet_path(@tweet) do %>
    <%= link_to 'New Tweet', new_tweet_path %>
  <% end %>

  <%= turbo_stream_from @tweet %>

  <div class='tweet-container'>
    <%= turbo_frame_tag "tweets" do %>
      <% render @tweets %>
    <% end %>
  </div>
</div>
