<p id="notice"><%= notice %></p>

<h1>Tweets</h1>

<table>
  <thead>
    <tr>
      <th class='bodyHeader'>Body</th>
      <th class='tableHeader'>Likes</th>
      <th class='tableHeader'>Retweets</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <%= turbo_frame_tag dom_id(tweet), target: '_top' do%>
        <tr>
          <td class='bodyItem'><%= tweet.body %></td>
          <td class='tableItem'><%= tweet.likes %></td>
          <td class='tableItem'><%= tweet.retweets %></td>
          <td><%= link_to 'Show', tweet %></td>
          <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
          <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= turbo_frame_tag 'new_tweet', src: new_tweet_path(@tweet), target: '_top' do %>
  <%= link_to 'New Tweet', new_tweet_path %>
<% end %>
