<p id="notice"><%= notice %></p>

<%= turbo_frame_tag dom_id(@tweet) do%>
  <p>
    <strong>Body:</strong>
    <%= @tweet.body %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= @tweet.likes %>
  </p>

  <p>
    <strong>Retweets:</strong>
    <%= @tweet.retweets %>
  </p>
  <%= link_to 'Edit', edit_tweet_path(@tweet) %> |
<% end %>


  <%= link_to 'Back', tweets_path, 'data-turbo-frame': '_top' %>

<%= turbo_stream_from @tweet %>

<strong>Comments</strong> 
<%= turbo_frame_tag "comments" do %>
      <% render @tweet.comments %>    
<% end %>

<div >
  <%= render partial: "comments/form" %>
</div>
